body{
    
   color:black; 
   font:12px/1.1em Jungka Book;
    background:white;
}

.img{width: 60%;
    height:0%;
margin-left:100px;
margin-bottom: 90px;
border-image-width: auto}

p {
    width: 300px;
}


