html, body{
    padding: 0;
    margin: 0;
    color:; 
    font:16px/1.1em Jungka Book;
    background:red;
}
.header {
    height: 50px;
    background-color: ;
    font:16px/1.1em Jungka Book; 
    margin-left: 100px;
}
.categories {
    background-color:;
    width: 500px;
    margin: 395px;
    margin-top: 5px;
    padding: 5px;
    word-spacing: 50px;
    color:white; 
    text-align: ;
    display:block;
    font:16px/1.1em Jungka Book;
    float: left;
}
.categories:hover {
    font-style: italic;
}

.restart {
    background-color:;
    float: left;
    width: 50px;
    height: 25px;
    margin: 5px;
    color: white;
    font:16px/1.1em Jungka Book;
}

.restart:hover {
    font-style: italic;
}

a {text-decoration:none;}

.button_brick {
    background-color:;
    border: solid 1px white;
    border-radius: 12px;
    margin-top:400px;
    margin-left: 100px;
    width: 50px;
    height: 23px;
}

.button_brick_text {
    text-align: center;
    padding: 5px;
    margin-top:0px;
    color: white;
    display:block;
    font:16px/1.1em Jungka Book;
}

.button_brick:hover {
background-color: white;
}

.button_brick:hover .button_brick_text {   
    color: red;
}

.button_200m {
    margin-top:10px auto 0;
    margin-left: 1000px;
    width: 50px;
    height: 23px;
    border-radius: 12px;
    background-color: ;
    border: solid 1px white;
}
.button_200m_text {
    text-align: center;
    padding: 5px;
    color: white;
    display:block;
    font:16px/1.1em Jungka Book;
    margin-top:0px;
}
.button_200m_link:visited .button_200m_text {
      color: red;
}

.button_200m:hover {
background-color: white;
}
.button_200m:hover .button_200m_text {color: red;
}
.button_About {
    position: absolute;
    left:50%;
    top: 50%;
    -webkit-transform: translateX(-50%)
    translateY(-50%);
    transform:translateX(-50) translateY (-50);
    background-color:;
    border: solid 1px white;
    width: 62px;
    height: 23px;
}

.button_About_text {
    text-align: center;
    padding: 5px;
    color: white;
    display:block;
    font:16px/1.1em Jungka Book;
    margin-top:0px;
}
.button_About_link:visited .button_About_text {
      color: red;
}

.button_About:hover {
background-color: white;
}
.button_About:hover .button_About_text {color: red;
}