html, body{
    padding: 0;
    margin: 0;
    color:black; 
    font:12px/1.1em Jungka Book;
    background:red;
}
.header {
    height: 50px;
    background-color: ;
    font:20px/1.1em Jungka Book; 
}
.categories {
    background-color: ;
    width: 29vw;
    float: left;
    margin: 5px;
    padding: 5px;
    word-spacing: 50px;
    color:white; 
    font:20px/1.1em Jungka Book;
}
.about {
    background-color:;
    text-align: right;
    padding-right: 1vw;
    margin: 5px;
    padding: 5px;
    color: white;
    font:20px/1.1em Jungka Book;
}

a {text-decoration:none;}

.button_brick {
    margin-top:110px;
    margin-left: 100px;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: ;
}

.button_brick_text {
    text-align: center;
    padding: 5px;
    color: white;
    display:block;
    font:12px/1.1em Jungka Book;
}

.button_brick_link:visited .button_brick_text {
      color: red;
}

.button_brick:hover {
background-color: white;
}

.button_brick:hover .button_brick_text {   
    color: red;
}